.*
!.gitignore

bench/
blackauth/
data/
initial_data/
public/
tmp/

backup/
local/
/go/
logs/

webapp/sqlite-trace.log
webapp/node/
webapp/docker-compose-node.yml
webapp/php/
webapp/docker-compose-php.yml
webapp/java/
webapp/docker-compose-java.yml
webapp/python/
webapp/docker-compose-python.yml
webapp/ruby/
webapp/docker-compose-ruby.yml
webapp/rust/
webapp/docker-compose-rust.yml
webapp/perl/
webapp/docker-compose-perl.yml

env
!s1/home/isucon/env
!s2/home/isucon/env
!s3/home/isucon/env
